.head1 {
    margin-left: 10px;
    font-size:40px;
    color: #000000;
    font-weight:bold;
    alignment: center;
}

body {
    margin: 0 auto;
    background-size: contain;
    background: aliceblue;
}

.autocomplete{
    margin-left: 5px;
    background-position:right;
    background-size: contain;
}

.menu {
    position: sticky;
    top: 0;
    padding:10px 0px 10px 0px;
    color: black;
    margin: 0 auto;
    overflow: hidden;
}

em{
    margin-left: 16px;
}

table{
    background: white;
    border: 5px;
    width: 100%;
}

th{
    font-size: 14px;
    text-align: left;
    padding: 8px;
}

td{
    font-size:12px;
    text-align: left;
    padding: 8px;
}
